#  SPDX-License-Identifier: Apache-2.0
#  © 2023 ETH Zurich and other contributors, see AUTHORS.txt for details

# IDE
.idea

# Byte-compiled / optimized / DLL files
**/__pycache__/*
**.py[cod]
**.pyc
venv

# Credentials
*Credentials.json
*Config.json
